<!DOCTYPE html>
	<html>
		<head>
			<title>{{ page.title }}</title>
			<!-- link to main stylesheet -->
			<link rel="stylesheet" type="text/css" href="/css/main.css">
            {% seo %}
		</head>
		<body>
			<nav>
	    		<ul>
	        	  <li><a href="/">Home</a></li>
                  <li><a href="/projects">Projects</a></li>
        		  <li><a href="/files/Makai_Mann_Resume_Public.pdf">CV</a></li>
	        	  <li><a href="/blog">Blog</a></li>
	    		</ul>
			</nav>
			<div class="container">
			
			{{ content }}
			
			</div><!-- /.container -->
			<footer>
	    	  <ul>
        		<li><a href="mailto:makaim@stanford.edu.com">email</a></li>
        		<li><a href="https://github.com/makaimann">github.com/makaimann</a></li>
			  </ul>
			</footer>
		</body>
	</html>
